@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


.roboto {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
}

.menu {
    display: flex;
    gap: 20px;
    text-align: center;
}

.log-in {
    border: none;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    margin-right: 10px;
}

.sign-up {
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    background-color: rgb(36, 36, 36);
    cursor: pointer;
    color: rgb(255, 255, 255);
}

.main {
    padding: 150px 100px;
    justify-content: space-between;
    display: flex;

    h1 {
        font-size: 4rem;
        font-weight: 700;
        margin-bottom: 20px;
    }

    p {
        font-size: 1.2rem;
        font-weight: 400;
        margin-bottom: 15px;
        color: rgb(102, 102, 102);
    }
}

.button {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.sign-up:hover {
    background-color: rgb(82, 82, 82);
    color: rgb(255, 255, 255);
}

.get-started {
    font-size: 1.2rem;
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    background-color: rgb(36, 36, 36);
    cursor: pointer;
    color: rgb(255, 255, 255);
}

.get-started:hover {
    background-color: rgb(87, 87, 87);
    color: rgb(255, 255, 255);
}

.see-details {
    font-size: 1.2rem;
    padding: 10px 15px;
    border-radius: 10px;
    border-color: rgb(80, 80, 80);
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    color: rgb(0, 0, 0);

}

.see-details:hover {
    background-color: rgb(87, 87, 87);
    color: rgb(255, 255, 255);
}

.main img {
    width: 55%;
    position: relative;
    bottom: 100px;
    left: 100px;
}

.sec1 {
    background-color: rgb(231, 231, 231);
}