* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    /* รองรับกว้าง */
    min-height: 100dvh;
    /* จอมือถือแบบ dynamic */

}

.box1 {
    width: 30px;
    height: 738px;
    background-color: rgb(255, 0, 0);
    display: flex;
    border-radius: 10px;
}

.box2 {
    width: 70px;
    height: 700px;
    background-color: blue;
    border-radius: 10px;
    margin-bottom: 50px;

}